.footer {
    background-color: #182737;
    border-top: 1px solid #898e94;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
    height: 5vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}