.card {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3b354b;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 

    .choice {
        background-color: #0569d3;
        color: white;
        padding: 10px 20px;
        margin: 15px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        text-align: center; 
        font-weight: 500;

        &:hover {
            background-color: #0056b3;
        }
    }
}
