$backgroundColor: linear-gradient(178deg, #ffff33 10%, #3333ff);
$gray: #34495e;
$darkgray: #2c504b;

body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
    overflow: hidden;
}

.editor-dark {
    display: flex;
    flex-direction: column;

    .select-bar {
        height: 50px;
        background-color: #182737;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #898e94;
        justify-content: space-between;

        .code-view {
            width: 72%;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                text-decoration: none;
                color: #007bff;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                padding: 8px 12px;
                margin: 0 10px;
                transition: color 0.3s ease, background-color 0.3s ease;
                border-radius: 5px;

                i {
                    margin-right: 6px;
                    font-size: 18px;
                }

                &:hover {
                    color: #0056b3;
                    background-color: #f0f0f0;
                }
            }

            .language {
                font-weight: bold;
                margin: 10px;
            }

            .select {
                outline: 10px red;
                box-shadow: none;
                flex: 1;
                font-size: 20px;
                padding: 0 1em;
                color: #fff;
                background-color: $backgroundColor;
                background-image: none;
                cursor: pointer;
                height: 30px;
                width: 250px;
                max-width: 300px;
                margin: 10px 0px;
                border: 1px solid #ccc;
                background-color: #051b2a;
                text-transform: capitalize;
                border-radius: 10px;
            }

            .select::-ms-expand {
                display: none;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;

                .button {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    padding: 8px 12px;
                    margin: 0 10px;
                    cursor: pointer;
                    font-size: 14px;
                    transition: background-color 0.3s ease, transform 0.2s ease;

                    &:hover {
                        background-color: #0056b3;
                        transform: translateY(-2px);
                    }
                }


            }


            .theme {
                display: flex;
                flex-direction: row;
            }
        }

    }

    .code-editor {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;

        .terminal {
            display: grid;
            padding: 2px;
            width: 25vw;
            height: 90vh;
            gap: 4px;
            background-color: #00c9cc;
            overflow-x: auto;

            @for $i from 1 through 2 {
                .t-#{$i} {
                    background-color: #1a1a1a;
                    color: #00ff00;
                    font-family: "Courier New", monospace;
                    font-size: 14px;
                    border: 2px solid #007acc;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    height: 44vh;
                    overflow-x: auto;


                    .heading {
                        color: #ff9900;
                        font-size: 18px;
                        margin: 0;
                        padding: 5px 0;
                        background-color: #43494d;
                        padding: 10px;
                        height: 5%;
                    }

                    .output {
                        color: #00ff00;
                        font-family: "Courier New", monospace;
                        font-size: 14px;
                        margin-top: 10px;
                        overflow: scroll;
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 84%;
                    }

                    .output::before {
                        content: "> ";
                        color: #00ff00;
                        font-weight: bold;
                    }

                    .error {
                        color: #ff8787;
                        font-weight: bold;
                    }

                    .output {
                        color: #8cff8c;
                    }

                }

            }
        }
    }
}


.editor-light {

    display: flex;
    flex-direction: column;

    .select-bar {
        height: 50px;
        background-color: #3077c2;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #052244;
        justify-content: space-between;

        .code-view {
            width: 72%;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                text-decoration: none;
                color: #000202;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                padding: 8px 12px;
                margin: 0 10px;
                transition: color 0.3s ease, background-color 0.3s ease;
                border-radius: 5px;

                i {
                    margin-right: 6px;
                    font-size: 18px;
                }

                &:hover {
                    color: #0056b3;
                    background-color: #f0f0f0;
                }
            }

            .language {
                font-weight: bold;
                margin: 10px;
            }

            .select {
                outline: 10px rgb(146, 91, 91);
                box-shadow: none;
                flex: 1;
                font-size: 20px;
                padding: 0 1em;
                color: #fff;
                background-color: $backgroundColor;
                background-image: none;
                cursor: pointer;
                height: 30px;
                width: 250px;
                max-width: 300px;
                margin: 10px 0px;
                border: 1px solid #ccc;
                background-color: #051b2a;
                text-transform: capitalize;
                border-radius: 10px;
            }

            .select::-ms-expand {
                display: none;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;

                .button {
                    background-color: #1f099b;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    padding: 8px 12px;
                    margin: 0 10px;
                    cursor: pointer;
                    font-size: 14px;
                    transition: background-color 0.3s ease, transform 0.2s ease;

                    &:hover {
                        background-color: #0056b3;
                        transform: translateY(-2px);
                    }
                }


            }

            .theme {
                display: flex;
                flex-direction: row;
            }
        }

    }

    .code-editor {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;

        .terminal {
            display: grid;
            padding: 2px;
            width: 25vw;
            height: 90vh;
            gap: 4px;
            background-color: #00c9cc;
            overflow-x: auto;

            @for $i from 1 through 2 {
                .t-#{$i} {
                    background-color: #4494b9;
                    color: #329aa1;
                    font-family: "Courier New", monospace;
                    font-size: 14px;
                    border: 2px solid #007acc;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    height: 44vh;
                    overflow-x: auto;


                    .heading {
                        color: rgb(241, 233, 233);
                        font-size: 18px;
                        margin: 0;
                        padding: 5px 0;
                        background-color: #1469a1;
                        padding: 10px;
                        height: 5%;
                    }

                    .output {
                        color: white;
                        font-family: "Courier New", monospace;
                        font-size: 14px;
                        margin-top: 10px;
                        overflow: scroll;
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 84%;
                    }

                    .output::before {
                        content: "> ";
                        color: #00ff00;
                        font-weight: bold;
                    }

                    .error {
                        color: #a01616;
                        font-weight: bold;
                    }

                    .output {
                        color: white;
                    }

                }

            }
        }
    }
}