.page {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    
    .name {
        text-transform: uppercase;
        color: red;
    }
    .rooms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}