.home {
  background-color: #0f0e13;
  background-image: radial-gradient(
    at 100% 0%,
    rgb(40, 27, 32) 0,
    transparent 50%
  );
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100vw;
  height: 95vh;
}
