.home {
  background-color: #0f0e13;
  background-image: radial-gradient(at 100% 0%,
      rgb(40, 27, 32) 0,
      transparent 50%);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;

  .com {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;

    .heading {
      font-size: 120px;
      font-weight: bold;
      margin-bottom: 200px;
      padding: 20px;
      color: rgb(99, 99, 103) !important;
    }
  }
}

.striped-text {
  font-size: 160px;
  background: repeating-linear-gradient(-45deg, rgb(117, 31, 31), rgb(28, 20, 20) 10px, rgb(34, 34, 36) 10px, rgb(80, 80, 88) 20px);
  -webkit-background-clip: text;
  color: transparent;
}