
**/___pycache__
**/migrations

# Byte-compiled / optimized / DLL files
venv

# SQLite database files
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Testing Requests 
test.htttp
