.login-form {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(80, 68, 68);
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    display: flex;
    

    .login-item {
        margin: 14px 0px;

        .button {
            margin: 10px 20px;
        }
    }

    .component {
        width: 250px;
    }
    
}